p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.book .book-body .page-wrapper .page-inner {
  max-width: 65%;
}

.book.font-family-1 {
  font-family: 'Palatino', serif;
}

h1, h2, h3, h4 {
  font-family: 'Palatino', serif;
  color: #000000;
}

.title {
  font-family: 'Palatino', serif;
  font-size: 3em !important;
  color: #000000;
 }

.subtitle {
  font-family: 'Palatino', serif;
  color: #000000;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #800000;
}


